@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100vw;
	background: var(--background, #2b2f37);
}